NODE_ENV=development
BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:5000/api
BASIC_FEE_SERVICE_ID=101
EXTENSION_FEE_SERVICE_ID=102
ALL_DAY_FEE_SERVICE_ID=103
CANCELLATION_FEE_SERVICE_ID=951
INCURRED_FEE_SERVICE_ID=547
