# DATABASE
DATABASE_URL="mysql://root:root@localhost:13308/dokabot"

BINANCE_API_KEY=your_api_key_here
BINANCE_API_SECRET=your_api_secret_here
BINANCE_TESTNET=1         # set =1 to use testnet


# BOT
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
